.mailNlocation{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background-color: #0E5E6F;
}

.location{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

.location>iframe{
    height: 100%;
}

.location>span{
    color: white;
    width: 170px;
    align-self: baseline;
    font-size: 20px;
    font-weight: 300;
}

.mail{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0px 50px 0px;
}

.mailInputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 2px;
    font-size: 14px;
}

.mailInputContainer>button{
    height: 50px;
    background-color: #3A8891;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}