/* .reservationWrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listResult{
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
} */